<launch>
	
	<param name="robot_description" command="rosrun xacro xacro $(find p2os_urdf)/defs/pioneer3at.xacro" />

  	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    	<param name="publish_frequency" type="double" value="30.0"/>
    	<param name="tf_prefix" type="string" value=""/>
  	</node>

	<node pkg="p2os_urdf" type="p2os_publisher_3at" name="publisher"/>


	<!-- RVIZ to view the visualization -->
	<node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find cpp_solver)/param/real_explore.rviz" respawn="false" output="log"/>


</launch>